<div class="header-bg ">
  <div class="container-fluid">

    <!-- navbar -->
    <nav class="row align-items-center py-2 shadow">
      <!-- Nav Links -->
      <section class="col">
        <button
          tuiButton
          type="button"
          class="sidebar-btn"
          appearance="custom"
          size="m"
          (click)="toggle(true)"
          (tuiActiveZoneChange)="toggle($event)"
        >
          <span class="sidebar-btn-icon">
            <fa-icon [icon]="sidebarIcon" size="lg" sidebar-btn></fa-icon>
          </span>
          <div *tuiSidebar="open; direction: 'left'">
            <div>
              <a
                *ngFor="let link of navLinks"
                tuiButton
                class="link"
                shape="rounded"
                appearance="sidebar-btn"
                [routerLink]="link.url">
                <fa-icon class="sidebar-icon" [icon]="link.icon"></fa-icon>
                {{link.name}}
              </a>
            </div>
          </div>
        </button>
      </section>

      <!-- Logo -->
      <section class="col text-center">
        <span class="tui-text_h1 d-md-block d-none mb-0" style="cursor: pointer;" routerLink="/home">Cook Chief</span>
        <span class="h4 d-md-none d-block mb-0" style="cursor: pointer;" routerLink="/home">Cook Chief</span>
      </section>

      <!-- Dropdown -->
      <section class="col">
        <tui-hosted-dropdown
            class="float-md-right float-left tui-space_right-5"
            tuiDropdownAlign="left"
            [content]="dropdown"
            [(open)]="openDropdown"
        >
            <button tuiButton type="button" appearance='outline' shape='rounded' size='m' [iconRight]="arrow">
                Manage
            </button>
        </tui-hosted-dropdown>
        <ng-template #icon>
            <tui-svg
                src="tuiIconChevronDown"
                class="icon"
                [class.icon_rotated]="open"
            ></tui-svg>
        </ng-template>
        <ng-template #dropdown>
          <tui-data-list>
            <button *ngFor="let item of items" tuiOption (click)="onClick(item)">
              {{item}}
            </button>
          </tui-data-list>
        </ng-template>
      </section>
    </nav>
  </div>
</div>
