@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

// background
.main-bg {
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
  height: 46rem;
  width: 100vw;
  margin-bottom: 5rem;
  background: url(../../assets/home/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(#0000005e, transparent);
    height: 100%;
    width: 100%;
  }
}
