<!-- Navigation -->
<mat-drawer-container class="sidenav-container" [hasBackdrop]="true">
	<!-- Sidenav menu -->
	<!-- <mat-drawer #drawer class="sidenav"
      appNavigationStyle
      role="navigation"
      mode="over"
      [opened]="false">
    <mat-toolbar>Main Menu</mat-toolbar>
    <mat-nav-list>
    </mat-nav-list>
  </mat-drawer> -->

	<!-- Navbar [ angular material toolbar ] -->
	<mat-drawer-content>
		<mat-toolbar color="primary">
			<article class="col-12">
				<article class="row py-5 justify-content-center">
					<section class="col-1">
						<!-- <button class="mt-2 float-left" mat-icon-button (click)="drawer.toggle()">
                <mat-icon>more_vert</mat-icon>
              </button> -->

						<!-- Logo [Desktop] -->
						<div class="logo">
							<img [src]="logo" alt="logo" />
						</div>
					</section>

					<!-- Navbar [Desktop]-->
					<section class="col">
						<section class="nav" #nav>
							<span 
								*ngFor="let link of navLinks;let i = index"
								routerLinkActive="nav-active"
								[routerLink]="link.url"
							>
								{{ link.name | titlecase }}
							</span>
						</section>
					</section>

					<!-- Profile -->
					<section class="col-1">
						<button 
							class="profile-pic"
							mat-icon-button
							isRoundButton="true"
							[matMenuTriggerFor]="manageMenu"
						>
							<img
								[src]="profilePic"
								class="rounded-circle"
								alt="profile-pic"
							/>
						</button>
						<mat-menu #manageMenu="matMenu" xPosition="before">
							<button 
								mat-menu-item
								*ngFor="let item of manageBtn"
								(click)="onBtnClick(item)"
							>
								{{ item | titlecase }}
							</button>
						</mat-menu>
					</section>
				</article>
			</article>
		</mat-toolbar>

		<!-- Application Content -->
		<div class="main-bg"></div>
		<ng-content></ng-content>
	</mat-drawer-content>
</mat-drawer-container>
