<div class="container-fluid">
  <article class="row justify-content-around">

    <!-- ShoppingList Edit Component -->
    <section class="col-12 col-lg-5">
      <app-shopping-edit></app-shopping-edit>
    </section>

    <!-- Shopping List -->
    <section class="col-12 col-lg-5 my-5" >

      <!-- List Group of the ingredients -->
      <ul
        class="list-group list-group-flush"
        *ngFor="let ingredient of ingredients; let i = index"
      >

        <li class="list-group-item shadow-sm my-1">
          {{ ingredient.name }}

          <!-- Ingredient Amount on a badge -->
          <span class="badge badge-info">{{ ingredient.amount }}</span>

          <!-- Remove icon/Button -->
          <button
            type="button"
            class="text-danger close ml-2 mb-1"
            aria-label="delete"
            (click)="deleteIng(i)"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </li>

      </ul>
    </section>
  </article>
</div>
