<!-- Page container  -->
<div class="container">
	<article class="flex-container py-5" fxLayout="row" fxLayoutAlign="space-around space-around">
		<!-- ShoppingList Edit Component -->
		<section fxFlex="50%">
			<app-shopping-edit></app-shopping-edit>
		</section>

		<!-- Shopping List -->
		<section fxFlex="33%">
			<!-- List Group of the ingredients -->
			<ul class="list-group">
				<li
					*ngFor="let ingredient of ingredients; let i = index"
					class="list-group-item d-flex justify-content-between align-items-center"
				>
					<div>
						<!-- Ingredient Amount on a badge -->
						<span class="badge bg-primary rounded-pill"
						>{{ ingredient.amount }}</span
						>
						<span class="mx-2">
							{{ ingredient.name }}
						</span>
					</div>
					<!-- Remove icon/Button -->
					<fa-icon 
						class="close-icon"
						[icon]="faClose"
						(click)="deleteIng(i)"
					></fa-icon>
				</li>
			</ul>
		</section>
	</article>
</div>
