@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables.scss";
@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";

.recipe-item {
  border: none;
  cursor: pointer;
}

.recipe-opened {
  background: rgb(0 0 0 / 91%);
  color: white;
  cursor: default;
}

.recipe-section {
  background: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  position: fixed;
  top: 0px;
  right: 0%;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  column-count: 3;
}

.sidebar {
  right: 50%
}

@include media-breakpoint-down(md) {
  .recipes-section {
    background: #222;
    height: auto;
  }
}
