<div class="container-fluid">
  <article class="row" appGallaryDetails="recipes">

    <!-- Recipe Book list -->
    <section class="back col-12 col-md pt-5 recipes-section">
      <div class="back card-columns">

        <!-- Each Recipe -->
        <app-recipe-item
          class="card recipe-item shadow"
          *ngFor="let recipe of recipes; let i = index;"
          [recipe]="recipe"
          [routerLink]="[i + 1]"
          [queryParams]="{sidebarState: true}"
          routerLinkActive="recipe-opened"
          ></app-recipe-item>

      </div>
    </section>


    <section class="col-12 col-md pt-5" *ngIf="sidebarState">
      <!-- Detail Component Display Location -->
      <router-outlet></router-outlet>
    </section>

  </article>
</div>
