@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables.scss";
@import "~bootstrap/scss/mixins/breakpoints";

.section {
  padding: 1.5rem auto;
}

mat-drawer-container,
mat-drawer-content {
  background: transparent;
}

mat-drawer-content {
  padding: 5rem 0 10rem 0;
}
mat-drawer {
  background: white;
}

// Media-breakpoints:
// :::::::::::::::::

// Large devices
@include media-breakpoint-down(lg) {
}

// Medium devices
@include media-breakpoint-down(md) {
}

// Small devices
@include media-breakpoint-down(sm) {
}

// Extra small devices
@include media-breakpoint-down(xs) {
}
