
// Main Styles
html,
body {
  height: 100%
}

body {
  margin: 0;
  overflow: hidden;
}

.row {
  overflow: hidden;
  padding: 0;
}

.cursor-pointer {cursor: pointer;}

*::-webkit-scrollbar {
  width: 1em;
}

*::-webkit-scrollbar-thumb {
  background-color: #82828259;
  background-clip: content-box;
  border: 5px solid transparent;
  border-radius: 30px;
}

}
