// Bootstrap imports
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables.scss";
@import "~bootstrap/scss/mixins/breakpoints";

.container-fluid {
    .detail-container {
        padding: 4rem 1.2rem;
    }

    header {
        box-shadow: 0px 0px 50px #555;
        background: white;
        // padding: 30px;
        // padding-top: 50px;
        // padding-bottom: 50px;
    }

    img {
        width: auto;
    }
    
    .text-wrap {
        float: right;
        margin: 5px
    }
    
    section.dis-mobile section section section.img-des-container {
        height: fit-content;
        img {
            width: 200px;
        }
    }
}

.list-group-item h4 {
    margin: 0;
    padding: 5px;
}

// Media-breakpoints:
// :::::::::::::::::

// Extra small devices
@include media-breakpoint-up(xs) {
}

// Small devices
@include media-breakpoint-up(sm) {
}

// Medium devices
@include media-breakpoint-up(md) {
    .detail-container {
        padding: 4rem 2.2rem;
    }
}

// Large devices
@include media-breakpoint-up(lg) {
    .detail-container {
        padding: 4rem 3.2rem;
    }
}



