<div class="container">
	<article class="row align-items-center">
    <!-- Intro -->
    <section class="col">
      <article class="row align-items-center text-center text-sm-left ml-0 ml-sm-5">

        <!-- IMAGE if It's a small screen -->
        <section class="col-12 d-block d-sm-none" >
          <!-- Intro image -->
          <img class="ml-5 intro-img-default" src="../../assets/unnamed.jpg" alt="" />
        </section>

        <!-- Title -->
        <section class="col-12 mt-5">
          <h1 class="title">Cook Chief</h1>
        </section>

        <!-- Title Note -->
        <section class="col-12">
          <p class="text-danger font-weight-bold text-monospace">All Recipes you want</p>
        </section>

        <!-- Sign in button -->
        <section class="col-12">
          <button class="btn btn-white border-dark text-dark">SIGN IN NOW</button>
        </section>

      </article>
		</section>

    <!-- IMAGE If it's a large screen-->
		<section class="col d-none d-sm-block">
			<!-- Intro image -->
      <img class="intro-img-sm" src="../../assets/unnamed.jpg" alt="" />
    </section>
	</article>
</div>

<!-- Recipe Book -->
<div class="container">
	<article class="row">

    <!-- Recipe title -->
		<header class="col-12 mt-5 mb-4">
			<h1 class="text-center font-weight-bold">Recipes</h1>
		</header>

    <!-- Recipe Content -->
    <section class="col-12 recipe-section">
      <ngb-carousel *ngIf="recipes">
        <ng-template ngbSlide *ngFor="let recipe of recipes">
          <div class="picsum-img-wrapper">
            <img [src]="recipe.imgPath" style="width: 100%;" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3>{{ recipe.name }}</h3>
            <p>{{ recipe.description }}</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </section>
  </article>
</div>

<!-- Founders -->
<!-- <div class="founder-bg">
  <div class="container">
    <article class="row text-center py-5">
      <section class="col-12 mb-5">
        <h1 class="font-weight-bold">Founded BY</h1>
      </section>
      <section class="col-4">
        <img src="https://www.w3schools.com/howto/img_avatar.png" class="rounded-circle shadow" alt="Ahmed Zaki">
        <p>Ahmed Zaki</p>
      </section>
      <section class="col-4">
        <img src="https://www.w3schools.com/howto/img_avatar.png" class="rounded-circle shadow" alt="Yasmin Sabry">
        <p>Yasmin Sabry</p>
      </section>
      <section class="col-4">
        <img src="https://www.w3schools.com/howto/img_avatar.png" class="rounded-circle shadow" alt="Mostafa Amr">
        <p>Mostafa Amr</p>
      </section>
    </article>
  </div>
</div> -->
