// Fonts
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap");

// keyframes
@keyframes zoomIn {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

// global home style
.section {
  margin-top: 5rem;
  padding: 5rem 0;
}

.white {
  background-color: white;
  color: black;
}

.trans {
  color: white !important;
}

// Signin Promo
.signin-promo {
  border-radius: 0.75rem;
  overflow: hidden;
  :is(p, button) {
    margin-left: 15px;
  }
}

.zoomin {
  animation-name: zoomIn ;
  -webkit-animation-name: zoomIn;
  -moz-animation-name: zoomIn;
  -o-animation-name: zoomIn;

  animation-duration: 7s;
  -webkit-animation-duration: 7s;
  -moz-animation-duration: 7s;
  -o-animation-duration: 7s;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;

  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
}
