// Fonts
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap");

// Bootstrap imports
@import "../../../node_modules/bootstrap/scss/functions.scss";
@import "../../../node_modules/bootstrap/scss/variables.scss";
@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";

// global home style
.section {
  margin-top: 5rem;
  padding: 5rem 0;
}

.white {
  background-color: white;
  color: black;
}

.trans {
  color: white !important;
}

// Signin Promo
.signin-promo {
  border-radius: 0.75rem;
  overflow: hidden;
  :is(p, button) {
    margin-left: 15px;
  }
}

// Media-breakpoints:
// :::::::::::::::::

// Extra small devices
@include media-breakpoint-down(xs) {
}

// Small devices
@include media-breakpoint-up(sm) {
}

// Medium devices
@include media-breakpoint-up(md) {
}

// Large devices
@include media-breakpoint-up(lg) {
}
